*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','calibri', sans-serif;
}

img{
    max-width: 100%;
}
.profile{
    margin: 10%;
}

h1{
    font-size: 32px;
    color: #032762;
}

h2{
    font-size: 18px;
    color: #032762;
}

p{
    font-size: 14px;
}

.icons i{
    margin-right: 6%;
}

.contact{
    margin-top: 15%;
}

a{
    color: black;
}

a:hover{
    color: #032762;
}

@media only screen and (min-width: 600px){
    body { 
     background-image: url('Foto\ profile\ card.png'); 
    }
}
